.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: #004d40;
  color: #fefefe;
  border-radius: 4px;

  &.warn {
    background-color: #f9a825;
    color: #2D201A;

    .modal-icon {
      color:  #2D201A;
    }

    .modal-button-icon {
      color: #2D201A;
    }
  }


  &.error{
    background-color: #c62828;
  }


  .modal-icon {
    margin-right: 8px;
  }

  .modal-title {
    flex-grow: 1;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  button {
    color: white;
  }
}

.modal-content {
  padding: 16px 24px;
  font-size: 16px;
  min-height: 10vh;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 16px;
}
