<div class="modal-header {{ data.type }}">
  <mat-icon class="modal-icon">{{ getIcon() }}</mat-icon>
  <h2 class="modal-title">{{ data.title }}</h2>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Fechar">
    <mat-icon class="modal-button-icon">close</mat-icon>
  </button>
</div>

<mat-dialog-content class="modal-content">
  <ng-content></ng-content>
  <p *ngIf="data.text">{{ data.text }}</p>
</mat-dialog-content>

<mat-dialog-actions class="modal-actions">
  <app-button
    [text]="data.botaoEsquerdo"
    layout="outline"
    [color]="data.type"
    (click)="clickBotaoEsquerdo()"
  />
  <app-button
    [text]="data.botaoDireito"
    [color]="data.type"
    (click)="clickBotaoDireito()"
  />
</mat-dialog-actions>
