<section class="login-container">
  <div class="login-content">
    <p class="container-titulo">
      Bem-vindo!
      <span class="container-subtitulo">
        Por favor, faça login para acessar sua área.
      </span>
    </p>

    <button mat-flat-button class="container-button" (click)="login()">
      <mat-icon svgIcon="google">login</mat-icon>
      Entrar com o Google
    </button>
  </div>

  <div class="login-image">
    <a href="https://storyset.com/education"></a>
    <img src="college project-bro.svg" alt="Ilustração de escola" />
  </div>
</section>
